* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body,
#root {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}


body {
  font-family: 'Poiret One', cursive;
  background-color: #fefaf7; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0 !important;
}
